<%= render '/my_pages/profile' %>
<section class="conntent-section d-flex align-items-center bg-black" >
    <div class="container mb-1 px-4 mt-5 px-lg-5 text-center">
<h1>コメント</h1>

<table>
  <thead>
    <tr>
      <th>コメント</th>
      <th>コメントした投稿</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr class='bg-secondary border-bottom'>
        <td class='pt-3 pb-3'><%= comment.content %></td>
        <td><%= link_to "「#{comment.post.title}」にコメントしました", comment.post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</section>
