<%= render '/my_pages/profile' %>
<h1>コメント</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
          <td>
          <% if comment.image.present? %>
            <%= image_tag comment.image.url, class: 'img-comment-show' %>
          <% end %>
          </td>
        <td><%= link_to "「#{comment.post.title}」にコメントしました", comment.post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
