<table class='table table-sm text-light text-center'>
    <thead>
        <tr>
          <% for i in 0..7 do %>
            <td style='border:none;'>
              <% date = Date.today %>
              <% date += i %>
              <% date_time = date.strftime('%Y%m%d')%>
              <% calendar_moon_age = MkCalendar.new("#{date_time}").moonage.round%>
              <%= image_tag(asset_path("moon_icons/#{calendar_moon_age}.png"), class: 'mt-0 pt-0', style: 'width: 15px; filter: hue-rotate(140deg);') %>
            </td>
          <% end %> 
        </tr>
    </thead>
    <tbody>
        <tr>
          <% for i in 0..7 do %>
              <th style='border:none;'>
                <% date = Date.today %>
                <% date += i %>
                <% month = date.month %>
                <% day = date.day%>
                <% if select_date == date%>
                    <%= link_to "#{month}/#{day}", weather_of_date_maps_path(date: date), class: 'btn btn-primary btn-sm', remote: true %>
                <% else %>
                    <%= link_to "#{month}/#{day}", weather_of_date_maps_path(date: date), class: 'btn btn-dark btn-sm', remote: true %>
                <% end %>
              </th>
            <% end %> 
        </tr>
    </tbody>
</table>