  <div class="container pt-3 mt-3 pb-3 mb-3 px-4 fadein">
      <table class='table table-sm text-light text-center'>
        <thead>
           <tr>
              <% weather_forecasts.each do |weather_forecast| %>
                  <% if weather_forecast.present? %>
                      <td style='border:none;'>
                        <%= image_tag "weather_icons3/#{weather_forecast.icon}.png", class: 'shared-weather-icon' %>
                      </td>
                  <% else %>
                      <td style='border:none; font-size:5px;'>
                        予報が<br>ありません
                      </td>
                  <% end %>
              <% end %>
          </tr>
        </thead>
        <tbody>
            <tr>
              <% for i in 0..7 do %>
                <th style='border:none;'>
                  <% date = Date.today %>
                  <% date += i %>
                  <% month = date.month %>
                  <% day = date.day%>
                  <div class='btn btn-sm btn-dark'><%= "#{month}/#{day}" %></div>
                </th>
              <% end %> 
            </tr>
        </tbody>
      </table>
  </div>
