<% content_for :title do %>
  <%"#{@user.name}の投稿一覧" %>
<% end %>

<%= render 'profile' %>
<h2 class="container mb-1 px-4 mt-5 px-lg-5 text-center">
投稿一覧</h2>
<%= render '/posts/list', posts: @posts %>