<%= month_calendar attribute: :access_date, events: posts do |date, posts| %>
  
  <p>
    <%=link_to date.day, posts_path(date: date) %>
  </p>
  <% posts.each do |post| %>
      <%= post.title %>
  <% end %>
<% end %>