<%= month_calendar attribute: :access_date do |date| %>
  
  <p>
    <%= link_to date.day, map_posts_path(date: date), class: 'btn border mb-1' %>
  </p>
  
  <p class='row justify-content-center'>
    <% date_time = date.strftime('%Y%m%d')%>
    <% @moon_age = MkCalendar.new("#{date_time}").moonage.round%>
    <%= image_tag(asset_path("moon_icons/#{@moon_age}.png"), style: 'width: 80px;') %>
  </p>

<% end %>
