<%= javascript_pack_tag 'radar_chart' %>
<div class="conntent-section d-flex align-items-center bg-black fadein" >
    <div class="container px-4 px-lg-5 text-center ">
      <h2 class="mb-1"><strong>評価</strong></h2>
        <canvas class="chart-center" id="myChart"></canvas>
    </div>
</div>