<%= javascript_pack_tag 'radar_chart' %>
<div class="container pt-5 mt-5 pb-5 mb-5 px-4 px-lg-5 text-center bg-secondary rounded fadein">
  <h2 class="mb-5"><strong>評価</strong></h2>
    <canvas class="chart-center" id="myChart"></canvas>
</div>
