<% content_for :title do %>
  <%"投稿の編集" %>
<% end %>

<section class="conntent-section d-flex align-items-center bg-black" >
    <div class="container px-4 mt-5 px-lg-5 text-center">
        <h1 class="mb-1 text-left">編集</h1>
        <%= render 'form', post: @post %>
        <%= link_to 'Back', post_path(@post), class: 'btn btn-dark' %>
    </div>
</section>
