<section class="conntent-section d-flex align-items-center bg-black" >
    <div class="container px-4 mt-5 px-lg-5 text-center">
        <h1 class="mb-1 text-left">編集</h1>
        <%= render 'form', post: @post %>
        <%= link_to 'Show', @post %>
        <%= link_to 'Back', posts_path %>
    </div>
</section>
