<% content_for :title do %>
  <%"新規投稿ページ" %>
<% end %>

<section class="conntent-section d-flex align-items-center bg-black" >
    <div class="container px-4 mt-5 px-lg-5 text-center">
        <h1 class="mb-1 text-left">新規投稿</h1>
        <%= render 'form', post: @post %>
    </div>
</section>