<header class="posts-top-masthead parallax-content d-flex align-items-center"  style="background-image: url(<%= asset_path 'galaxy.jpg' %>) ">
    <div class="posts-top-img-cover d-flex flex-column align-items-center justify-content-center fadein">
        <h2 class="text-light mb-5"><%= image_tag(asset_path('logo.png'), style: 'width: 70px;')%>Star Finder</h2>
        <p><%= link_to 'はじめる', maps_path, class: "col btn btn-primary btn-sm fadein"%></p>
    </div>
</header>

<div class="posts-top-container d-flex align-items-center text-light bg-black" >
    <div class="container px-4 px-lg-5 text-center">
        <h2 class='mb-5'>美しい星空を探そう</h2>
        <p class="text-light fadein"> 
            満点の星空を観測するにはさまざまな条件をクリアする必要があります。天気はもちろん重要ですが、町の明るさ、月の光は空を明るくしてしまい天体観測を困難にします。
        </p>
        <p class="text-light fadein"> 
            このアプリは天体観察スポットを効率的に探索できます。天体観測で需要とな天気、月齢、星の明るさ、光害などを一元化して表示し探索を容易にします。スポットから近隣の宿泊施設の情報も提供します。星空観察の経験や写真を投稿し共有することが可能です。
        </p>
    </div>
</div>

<section class="posts-top-service content-section bg-secondary text-white text-center" id="services">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Find</h3>
            <h2 class="mb-5">探し方</h2>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 fadein">
                <span class="posts-top-service-icon rounded-circle mx-auto mb-3 bg-light"><i class="fa-solid fa-moon fa-md" style="color: #1D809F;"></i></span>
                <h4><strong>1.月齢を調べる</strong></h4>
                <p class="text-faded mb-0">月が出ると星は見えづらくなります。</p>
                <p class="text-faded mb-0">月があまり出ない空が暗い日をカレンダーから見つけます。青色になる程月が沈んでいる時間が長い日になります。</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 fadein">
                <span class="posts-top-service-icon rounded-circle mx-auto mb-3 bg-light"><i class="fa-solid fa-cloud-sun fa-md" style="color: #1D809F;"></i></span>
                <h4><strong>2.天気を調べる</strong></h4>
                <p class="text-faded mb-0">空が曇っていると観測できません。</p>
                <p class="text-faded mb-0">カレンダーから天気のいい日を探します。</p>
                <p class="text-faded mb-0">日付を選択すると日本全国の天気がマーカーで表示することができます。（最大7日先まで）</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0 fadein">
                <span class="posts-top-service-icon rounded-circle mx-auto mb-3 bg-light"><i class="fa-solid fa-star fa-md" style="color: #1D809F;"></i></span>
                <h4><strong>3.星が明るく見える場所を探す</strong></h4>
                <p class="text-faded mb-0">町の明るさによって星の見かけの明るさは変わります。</p>
                <p class="text-faded mb-0">星がよく見える場所をマップ上から探します。マーカーの色が明るくなるほど星がよく見える場所です。</p>
            </div>
            <div class="col-lg-3 col-md-6 fadein">
                <span class="posts-top-service-icon rounded-circle mx-auto mb-3 bg-light"><i class="fa-solid fa-location-dot fa-md" style="color: #1D809F;"></i></span>
                
                <h4><strong>4.レビューを見つける</strong></h4>
                <p class="text-faded mb-0">1~3を考慮して</p>
                <p class="text-faded mb-0">レビューのピンを見つけます。</p>
                <p class="text-faded mb-0">近隣のホテル情報を見ることもできます。</p>
            </div>
        </div>
    </div>
</section>

<section class="posts-top-service content-section bg-primary text-white text-center" id="services">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Function</h3>
            <h2 class="mb-5">機能</h2>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 fadein">
                <span class="posts-top-service-icon rounded-circle mx-auto mb-3"><i class="icon-location-pin"></i></span>
                <h4><strong>マップ機能</strong></h4>
                <p class="text-faded mb-0">マップ上にレビューをマーカー表示します。</p>
                <p class="text-faded mb-0">天気や星の明るさを表示。レビューを探す手助けをします。</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 fadein">
                <span class="posts-top-service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                <h4><strong>投稿機能</strong></h4>
                <p class="text-faded mb-0">レビューを投稿できます。</p>
                <p class="text-faded mb-0">住所や評価を直感的に選択でき簡単に投稿できます。</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0 fadein">
                <span class="posts-top-service-icon rounded-circle mx-auto mb-3"><i class="icon-heart"></i></span>
                <h4><strong>お気に入り機能</strong></h4>
                <p class="text-faded mb-0">レビューをお気に入りすることができます。</p>
                <p class="text-faded mb-0">お気に入りしたものはマイページから閲覧が可能です。</p>
            </div>
            <div class="col-lg-3 col-md-6 fadein">
                <span class="posts-top-service-icon rounded-circle mx-auto mb-3"><i class="icon-magnifier"></i></span>
                <h4><strong>検索・ソート機能</strong></h4>
                <p class="text-faded mb-0">投稿をタイトルや住所などのキーワードで検索できます。</p>
                <p class="text-faded mb-0">閲覧数やお気に入り数でソートすることができます。</p>
            </div>
        </div>
    </div>
</section>

<section class="callout">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mx-auto mb-5">  
            ようこそ!
        </h2>
        <%= link_to 'StarFinderへ', maps_path, class: "btn btn-primary btn-xl fadein"%>
    </div>
</section>